extends ../layout

block content
  .nav
    a(href="/") Edit Profile
    a(href="/logout") Log Out
  .main
    h1 Welcome!
    form(method="post" action="/create")
      div
        label#url(for="url") Enter a URL to get started: 
        br
        br
        div
          input(type="text" name="url" id="url" autofocus)
        br
        br
      div
        input(type="submit" name="submit" id="submit" value="Submit")
      br
      br
    div
      if suggestions
        .results
          for each in suggestions
            .hashtags
              if (each)
                span(href="#") ##{each}
    
