extends ../layout

block content
  div
    a(href="/logout") Log Out
  h1 Create new tweet page
  form(method="post" action="/create")
    label(for="article") Paste article here:
    br
    textarea(name="article" id="article" rows="10" cols="30") #{article}
    div
      label(for="url") URL: 
      br
      input(type="text" name="url" id="url")
    div
      input(type="submit" name="submit" id="submit" value="Submit")
  if suggestions
    for each in suggestions
      .hashtags
        if (each)
        p ##{each}
    
