extends layout

block content
  .nav
    .navRight
      a(href="/") Home
  .jumbo
    form.reset(action="/forgot" method="post")
      .login
        label(for="handle") Twitter Handle: 
        span @ 
        input(type="text" name="handle" id="handle" value=handle)
        br
      .login
        p In what city were you born?
      .login
        label(for="answer") Your answer:
        input(type="password" name="answer" id="answer")
      .login
        input(type="submit" name="submit" id="login" value="Submit Answer")
    if msg
      p= msg
