extends layout

block content
  .main
    h1 Welcome to TweetHelper!
  .left
    h2 Create a new account
    form(method="post" action="/signup")
      div
        label(for="handle") Twitter Handle: 
        br
        span @ 
        input(type="text" name="handle" id="handle" value=handle)
      div
        label(for="password") Password:
        br
        input(type="password" name="password" id="password")
      div
        label(for="confirm") Retype password:
        br
        input(type="password" name="confirm" id="confirm")
      div
        input(type="submit" name="submit" id="submit" value="Create Account")
  .right
    h2 Or log into an existing account
    form(method="post" action="/login")
      div
        label(for="handleEx") Twitter Handle: 
        br
        span @ 
        input(type="text" name="handleEx" id="handleEx" value=handleEx)
      div
        label(for="passwordEx") Password:
        br
        input(type="password" name="passwordEx" id="passwordEx")
      div
        input(type="submit" name="submit" id="submit" value="Log In")
  .center
    if errors
      for message in errors
        p= message
    if msg
      p= msg
