extends layout

block content
  .banner Welcome to TweetHelper!
  .left
    h3 Create a new account
    form(method="post" action="/signup")
      .login
        label(for="handle") Twitter Handle: @ 
          input(type="text" name="handle" id="handle" value=handle)
        br
      .login
        label(for="password") Password:
          input(type="password" name="password" id="password")
        br
      .login
        label(for="confirm") Retype password:
          input(type="password" name="confirm" id="confirm")
        br
      .login
        input(type="submit" name="submit" id="login" value="Create Account")
  .right
    h3 Log into an existing account
    form(method="post" action="/login")
      .login
        label(for="handleEx") Twitter Handle: @  
          input(type="text" name="handleEx" id="handleEx" value=handleEx)
        br
      .login
        label(for="passwordEx") Password:
          input(type="password" name="passwordEx" id="passwordEx")
        br
      .login
        a#forgot(href="/forgot") Forgot password?     
        input(type="submit" name="submit" id="login" value="Log In")
  .center
    if errors
      for message in errors
        p= message
    if msg
      p= msg
