body {
  font: 20px "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: rgb(102, 117, 127);
  text-decoration: none;
}

h1 {
  color: rgb(41, 47, 51);
}

.hashtags {
  display: inline-block;
  width: auto;
  margin: 10px;
  /*background-color: pink;*/
  border: 2px solid rgb(102, 117, 127);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(41, 47, 51);
}

.hashtags>span {
  display: inline-block;
  padding: 10px;
}

.hashtags:hover {
  background-color: rgb(102, 117, 127);
  color: rgb(255, 255, 255);
}

.main, .jumbo {
  text-align: center;
  width: 90h;
  /*background-color: blue;*/
}

.jumbo {
  height: 70vh;
  margin-top: 15vh;
  background-color: rgb(85, 172, 238);
}

.container {
  padding-top: 10%;
}

.results {
  background-color: rgb(85, 172, 238);
  height: 50vh;
  padding-top: 5vh;
}

.nav {
  background-color: rgb(225, 232, 237);
  text-align: right;
}

.nav>a, .container>a  {
  display: inline-block;
  padding: 10px;
  width: 12%;
  text-align: center;
}

.nav>a:hover,{
  background-color: rgb(102, 117, 127);
  color: rgb(225, 232, 237);
  border-radius: 3px;
}

.container a:hover {
  background-color: rgb(102, 117, 127);
  color: rgb(255, 255, 255);
  border: none;
}

.container a {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  color: black;
}

label {
  display: block;
  color: yellow;
  padding: 10px;
  color: rgb(102, 117, 127);
  font-size: 16px;
}

#url {
  transform: scale(2);
  width: 30%;
  /*background-color: red;*/
  margin-left: auto;
  margin-right: auto;
}

#submit {
  transform: scale(2);
  /*background-color: green;*/
}

.left, .right {
  margin: 2.5%;
  width: 45%;
  display: inline-block;
  float: left;
  text-align: center;
  background-color: rgb(85, 172, 238);
  height: 75vh;
}
